
.site-quick-support {
    padding-bottom: 0;
    overflow: hidden;
}
.section-white {
    margin: 0;
    padding: 80px 0;
    display: block;
    width: 95%;
    clear: both;
    background: white;
    text-align: center;
    overflow: hidden;
    padding: 30px;
}
.site-quick-support .contact-box {
    width: 100%;
    border-radius: 12px;
    height: 350px;
    padding-left: 20px;
}
.blue-purple-gredient {
    background-image: linear-gradient(to right, rgb(124, 159, 194),cornflowerblue);
}
