
<section id="quick-support" class="site-quick-support section-white">
  <div class="container">
    <div class="contact-box blue-purple-gredient">
      <div class="col-xs-12">
        <div class="box">

          <!-- INFO -->
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="site-info">
              <h5> Contact Info</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum has been the
                industrys.
              </p>

              <!-- BOX -->
              <a href="tel:+911234567890" class="site-box-row">
                <!-- ICON -->
                <h6><i class="fa fa-phone"></i> Call us </h6>
                <!-- PARAGRAPH -->
                <p>+91 123 456 7890</p>
              </a>

              <!-- BOX -->
              <a href="mailto:support@gmail.com" class="site-box-row last">
                <!-- ICON -->
                <h6><i class="fa fa-envelope"></i> Email us</h6>
                <!-- Mail -->
                <p>support@gmail.com</p>
              </a>

              <!-- BOX -->
              <a target="_blank" href="http://maps.google.com/?q=Location,125BusinessEvenue,Huston,USA" class="site-box-row">
                <!-- ICON -->
                <h6><i class="fa fa-map-marker"></i> Location</h6>
                <!-- ADDRESS -->
                <address>Location, 125 Business Evenue, Huston, USA</address>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>