
.style1{
    color : cornflowerblue;
    font-size: 25px;
}
.style2{
    color: rgb(98, 99, 100);
    font-size: 20px;
}
.header{
    height: 100px;
    padding-top: 10px;
    background-color: transparent;
    border-bottom: 2px;
}
.accountIcon{
    color: rgb(98, 99, 100);
    font-size: 35px;
    padding-right: 45px;
}

.mat-button{
    margin-left: 50px;
    color: rgb(98, 99, 100);
}

.borderLine{
    margin-left: 600px;;
    border-bottom:1.1px solid;
    width: 850px;
    color: cornflowerblue;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .right-items {
      padding-top: 40px;
  }
  .example-full-width{
      font-size: 14px;
  }