
<section id="quick-support" class="site-quick-support section-white">
    <div class="container">
        <div class="contact-box blue-purple-gredient">
                <div class="box">
                    <div class="footerElement">
                        <div class="contact-info footerHeading">
                            <span>Contact Info</span>
                        </div>
                        <div class="footerSubHeading">Dr.-Hans-Kapfinger-Straße 30, 94032 Passau</div>
                        <div class="footerHeading">Call Us</div>
                        <div class="footerSubHeading">+49 1234 5678</div>
                        <div class="footerHeading">Email Us</div>
                        <div class="footerSubHeading">myinsurance@myinsurance.de</div>
                    </div>

                </div>
        </div>
    </div>
</section>
