<button class="btns" mat-button [matMenuTriggerFor]="menu1">Option 1</button>
<mat-menu #menu1="matMenu">
  <button mat-menu-item>Sub Option 1</button>
  <button mat-menu-item>Sub-Option 2</button>
  <button mat-menu-item>Sub-Option 2</button>
</mat-menu>
<button class="btns" mat-button [matMenuTriggerFor]="menu2">Option 2</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>Sub Option 1</button>
  <button mat-menu-item>Sub-Option 2</button>
  <button mat-menu-item>Sub-Option 2</button>
</mat-menu>
<button class="btns" mat-button [matMenuTriggerFor]="menu3">Option 3</button>
<mat-menu #menu3="matMenu">
  <button mat-menu-item>Sub Option 1</button>
  <button mat-menu-item>Sub-Option 2</button>
  <button mat-menu-item>Sub-Option 2</button>
</mat-menu>
<button class="btns" mat-button [matMenuTriggerFor]="menu4">Option 4</button>
<mat-menu #menu4="matMenu">
  <button mat-menu-item>Sub Option 1</button>
  <button mat-menu-item>Sub-Option 2</button>
  <button mat-menu-item>Sub-Option 2</button>
</mat-menu>