
.sideContainer{
  background-color: transparent;
  height: 500px;
  width: 200px;
  float: left;
  padding-top: 30px;
}

.float{
	position: fixed;
  left: 200px;
}

.menu-btn {
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 5px;
  color: black;
}
.subMenu{
  border-radius: 5px;
  background: rgb(247, 247, 243);
}