<div class="container">
  <div class="row1">
    Choose your right plan
  </div>
  <div class="row2">
    <section class="pricing">
      <div class="loginCard">
        <mat-card class="example-card card">
          <mat-card-header >
            <mat-card-title class="title">
              <span>Platinum Plan</span>
            </mat-card-title>
            <mat-card-subtitle class="title">Full Coverage and Support (Family Pack)</mat-card-subtitle>
          </mat-card-header>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">0€<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited PrivateProjects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
            </mat-form-field>
          </form>
          <mat-card-actions>
            <div class="example-button-row" align="center">
              <button mat-button>More Details</button>
            </div>
          </mat-card-actions>
        </mat-card>


        <mat-card class="example-card card">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">
              <span>Gold Plan</span>
            </mat-card-title>
            <mat-card-subtitle>Covers and support 1 phone</mat-card-subtitle>
          </mat-card-header>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">0€<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private
                  Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
            </mat-form-field>
          </form>
          <mat-card-actions>
            <div class="example-button-row" align="center">
              <button mat-button>More Details</button>
            </div>
          </mat-card-actions>
        </mat-card>


        <mat-card class="example-card card">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">
              <span>Silver Plan</span>
            </mat-card-title>
            <mat-card-subtitle class="title">Covers 1 Phone or Tablet</mat-card-subtitle>
          </mat-card-header>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">0€<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private
                  Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
            </mat-form-field>
          </form>
          <mat-card-actions>
            <div class="example-button-row" align="center">
              <button mat-button>More Details</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
  </div>
</div>