
.example-card {
    max-width: 300px;
    float: right;
    height: 400px;
  }
.mat-card-avatar{
  text-align: center;
}
.loginCard{
  padding-right: 300px;
}
.style1{
  color : cornflowerblue;
  font-size: 18px;
}
.style2{
  color: rgb(98, 99, 100);
  font-size: 16px;
}
.mat-card-subtitle{
  padding-top: 10px;
  text-align: center;
}
.example-full-width{
  width: 280px;
  align-self: center;
}
