<div class="container">
  <div class="col col1">
    <div class="row1 message1">
        Insuring Phones,
        Now Easy.
    </div>
    <div class="row2 message3">
        Where there are Samsung Galaxys there are black holes,
        meteroid strikes and the more <br>
        mundane 'Oh No!'<br>
        Moments such as loss, damage and theft.
        Those three we can help you with.
    </div>
  </div>
  <div class="col col2">
      <img src="\assetsFile\pic1.jpg" alt="pic">
  </div>
</div>


<!--
<div class="loginCard">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <span class="style1">MyInsurance|</span>
        <span class="style2">Company</span>
      </mat-card-title>
      <mat-card-subtitle>Policy Holder Sign In</mat-card-subtitle>
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
    </form>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row" align="center">
        <button mat-button>Sign In</button>
      </div>
      <div class="signinMSG">
        Don't have an account ? <a href="#" class="signUpLink">Sign Up</a>
      </div>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <span class="style1">MyInsurance|</span>
        <span class="style2">Company</span>
      </mat-card-title>
      <mat-card-subtitle>Agent Sign In</mat-card-subtitle>
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
    </form>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row" align="center">
        <button mat-button>Sign In</button>
      </div>
      <div class="signinMSG">
        Don't have an account ? <a href="#" class="signUpLink">Sign Up</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
-->