.row1{
    height: 700px; 
    float: right;
  }
  .example-card{
      height: 600px; float: right; margin-right: 145px; border-radius: 40px;
     }

  .mat-card-subtitle{
    padding-top: 10px;
  }
  .example-full-width{
    width: 1200px;
    height: 600px;
  }
  
  @media (min-width: 992px) {
    .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
      background-color: rgb(243, 243, 237);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  
 .card-pics {
   width: 1000px;
   height: 540px;
   margin-left: 100px;
   margin-right: 100px;
 }

img {
 position: absolute;

 z-index: 3;
 animation: slideshow 12s linear 0s infinite;
}

img:nth-child(2) {
 z-index: 2;
 animation-delay: 4s;
}

img:nth-child(3) {
 z-index: 1;
 animation-delay: 8s;
}


@keyframes slideshow {
  25% { opacity: 1;}
  33.33% { opacity: 0;} 
  91.66% { opacity: 0;}
  100% { opacity: 1;}
}
.section{
    margin-top: 1300px;
    position: absolute;
    width: 100%;
}