
<div class="section">
  <div class="row1">
    <section class="pricing">
        <div class="card-area">
            <mat-card class="example-card card">
                <mat-card-header>
                    <mat-card-title class="title">
                    </mat-card-title>
                    <mat-card-subtitle class="title"></mat-card-subtitle>
                </mat-card-header>
                <form class="example-form example-full-width">
                    <img  class="card-pics" src="\assetsFile\maxresdefault.jpg" alt="firstpic">
                    <img  class="card-pics" src="\assetsFile\phone-insurance.jpg" alt="secondpic">
                    <img  class="card-pics" src="\assetsFile\pic4.jpg" alt="thirdpic">
                   
                    <!-- <div class="example-button-row"> // This is iPAD home button but will implement it later.
                            <button mat-icon-button >
                                    <button mat-fab disabled></button>
                            </button>
                    </div> -->
                </form>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
  </div>
</div>
