<div class="container">
    <div class="col col1">
      <div class="row1 message1">
          Insuring Phones,
          Now Easy.
      </div>
      <div class="row2 message3">
          Where there are Samsung Galaxys there are black holes,
          meteroid strikes and the more <br>
          mundane 'Oh No!'<br>
          Moments such as loss, damage and theft.
          Those three we can help you with.
      </div>
    </div>
    <div class="col col2">
        <img src="\assetsFile\pic1.jpg" alt="pic">
    </div>
  </div>

